
.product-list-container{
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 8px;

    padding: 12px;

    width: 60%;

    outline: 1px solid black;

    border-radius: 6px;

    z-index: 1;

    transition: 0.3s;
}

.selected-product-list-container{
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 8px;

    padding: 12px;

    width: 60%;

    outline: 1px solid black;

    border-radius: 6px;

    z-index: 1;

    transition: 0.3s;
}

.selected-product-list-container:hover{
    background-color: #eee;
}

.product-list-container:hover{
    transform: scale(1.06);

    background-color: rgba(144, 238, 144, 0.418);
}

.product-list-container img{
    width: 30%;
    height: 80%;
}

.product-img-holder {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    
    border-radius: 4px;

    outline: 1px solid black;
}
.product-img-holder img {
    width: 100%;
    height: 100%;
}

.product-list {
    display: flex;
    flex-direction: column;

    align-items: center;
    
    gap: 20px;
    padding: 10px;

    max-height: 600px;
    width: 40%;


    overflow-y: auto;

    outline: 2px solid black;
    border-radius: 12px;
}

.search-container{
    display: flex;
    flex-direction: column;

    align-items: right;

    padding: 12px;
}